.title_bar {
  width: 100%;
  height: 40%;
}

.title {
  font-size: 28px;
  font-weight: 400;

  position: relative;
  top: 50%;
  text-align: center;
}

.content {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.content {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.close_icon {
  visibility: hidden;
}

.content input {
  width: 80%;
  margin: 0 auto;
  height: 50px;
  padding: 16px 20px 12px 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid #f89d2f;
  font-size: 14px;
  font-weight: 500;
}

.content input:hover {
  border: none;
  border-bottom: 3px solid #f89d2f;
}

.content label {
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
  font-weight: 400;
}

.dialog_button {
  color: white;
  font-size: 18px;
  height: 48px;
  width: 80%;
  margin: -20px auto 24px auto;
  border: none;
}

.text {
  font-size: 14px;
  padding: 20px;
  text-align: center;
  line-height: 20px;
  margin-bottom: 20px;
}

.listWidgetContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px 0;
  height: calc(50% + 40px);
}

.errorText {
  font-size: 12px;
  position: relative;
  top: -9%;
  text-align: center;
}
