.item__container {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #f89d2f;
  cursor: pointer;
}

.item__titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.item__title {
  padding-left: 10px;
  font-size: 13px;
}

.list__title {
  padding-left: 10px;
  font-size: 12px;
}

.folder__title {
  padding-left: 10px;
  font-size: 12px;
}


.item__revealer {
  visibility: hidden;
}

