.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container span {
  width: 32px;
  height: 32px;
  margin: 5px;
  cursor: pointer;
}

.selectedColor {
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}
