.topBar {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.topBar input {
  width: 90%;
  border: none;
  font-size: 17px;
}

.topBar input:focus {
  outline: none;
}

.parentInfoBar {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.parentInfoBar label {
  margin-right: 10px;
  font-weight: 600;
}

.parentInfoBar div {
  border: 1px solid #1e272e;
  height: 40px;
  padding: 9px 20px;
  border-radius: 20px;
  margin-right: 20px;
  text-align: center;
  font-weight: 100;
}


.descriptionInput {
  border: 1px solid #1e272e;
  height: 60%;
  padding: 15px;
  margin-bottom: 25px;
  font-size: 14px;
}

.descriptionInput:focus {
  outline: none;
}

.bottomBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 121px;
  height: 40px;
  /* color: white; */
  border-radius: 3px;
  font-weight: 600;
}
