.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 600;
}

.titleContainer  p {
  margin-left: 5px;
  font-size: 12px;
}

.container button {
  text-transform: capitalize;
  font-size: 10px;
  align-self: flex-start;
}

.container ul {
  list-style: none;
}

.container li {
  text-transform: capitalize;
  font-size: 13px;

  line-height: 1.75;
  padding: 6px 8px;
}
